/*Iniciando aqui a Estilização do projeto*/
body
{
  background-image: linear-gradient(to right,rgb(26, 163, 255),rgb(0, 31, 51));
}

a
{
    text-decoration: none;
}

#titulo,
#rodape
{
  color: white;
  display: block;
  padding: 2em;
  position: relative;
  text-align: center;
}

#formulario
{
  text-align: center;
  background-color: rgb(179, 224, 255);
  display: block;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

fieldset
{
  border: 3px solid none;
}

.grupo
{
  text-align: center;
  background-color: rgb(179, 224, 255);
  display: grid;
  justify-items: center;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  margin: 15px auto 15px auto;
}

.inputbox
{
  display: grid;
  grid-template-columns: 150px 265px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#rodape ul li a
{
    color: white;
}

#rodape ul li a:hover
{
    color: aquamarine;
}

#botao
{
  background-color: rgb(0, 102, 0);
  border: 0px solid transparent;
  color: white;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

#botao:active
{
  opacity: 0.6;
}

#links{
  list-style: none;
}







